<main>
  <header>
    <h1>We're Launching Soon</h1>
  </header>

  <div class="countdown-clock">
    <ul>
      <li>
        <div class="card">
          <span>{{ days }}</span>
        </div>
        <h5>Days</h5>
      </li>
      <li>
        <div class="card">
          <span>{{ hours }}</span>
        </div>
        <h5>Hours</h5>
      </li>
      <li>
        <div class="card">
          <span>{{ minutes }}</span>
        </div>
        <h5>Minutes</h5>
      </li>
      <li>
        <div class="card">
          <span>{{ seconds }}</span>
        </div>
        <h5>Seconds</h5>
      </li>
    </ul>
  </div>
</main>

<footer class="attribution">
  <div class="content">
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com">
          <img src="assets/images/icon-facebook.svg" alt="Facebook">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.pinterest.com">
          <img src="assets/images/icon-pinterest.svg" alt="Pinterest">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com">
          <img src="assets/images/icon-instagram.svg" alt="Instagram">
        </a>
      </li>
    </ul>

    <p>Challenge by&nbsp;<a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by&nbsp;<a href="mailto:marvinrusinek@gmail.com">Marvin Rusinek</a>.</p>
  </div>
</footer>
